BUCKET_NAME="jl-wistia-pipeline"
RAW_PREFIX="raw"
WAREHOUSE_PREFIX="tables"

SOURCE_DB="ws_raw"
SOURCE_PATH="s3a://${BUCKET_NAME}/${RAW_PREFIX}"
WAREHOUSE_DIR="s3a://${BUCKET_NAME}/${WAREHOUSE_PREFIX}"
WAREHOUSE_DIR_S3="s3://${BUCKET_NAME}/${WAREHOUSE_PREFIX}"

TARGET_DB="ws_curated"
TARGET_TEST_DB="ws_curated_test"

AWS_PROFILE_NAME="default"

LOCAL_REPO_PATH="/path/to/local/wistia-media-pipeline"
HOST_WORKSPACE="${LOCAL_REPO_PATH}/jobs"
