TEST_VISITOR_ID = "visitor-hashed-id"
YT_MEDIA_ID = "video-hashed-id"
FB_MEDIA_ID = "video-hashed-id"
API_TOKEN_SECRET_NAME = "api-token-secret-name"
BUCKET_NAME = "bucket-name"
RAW_PREFIX = "raw"
WISTIA_CHECKPOINT_PATH = "path/to/wistia_checkpoint.json"
